body{
    background: #FAFAFA;
}

.bmg {
    font-size: 10px;
    font-family: Gotham-Rounded-Bold;
    margin-top: 40%;
    color: #030404;
}

/*FOTOGALLERY FANCYBOX BEGIN */
.alboms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.alboms__item {
  border: 1px solid #ffbb16;
  position: relative;
  overflow: hidden;
  transition: 0.5s Ease;
  width: 289px;
  height: 289px;
  /* margin: 20px 10px; */
}

.alboms__item img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.alboms__itemCaption {
  border: 1px solid #030404;
  transition: 0.5s Ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-top: -403px;
  text-align: center;
  background:#ffbb16;
  cursor: pointer;
}

.alboms__item:hover > .alboms__itemCaption {
  margin-top: 0;
}
